/web/js
/web/css
/assets/css
/build
.ftppass
ubuntu-yakkety-16.10-cloudimg-console.log

# phpstorm project files
.idea

# sass
/.sass-cache

# node
/node_modules

#bower
.bowerrc

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

tests/_output/*
tests/_support/_generated

# vagrant runtime
/.vagrant

# temporary files which can be created if a process still has a handle open of a deleted file
 .fuse_hidden*

# # KDE directory preferences
 .directory

# # Linux trash folder which might appear on any partition or disk
 .Trash-*

# # .nfs files are created when an open file is removed but is still being accessed
 .nfs*
